---
const base = import.meta.env.BASE_URL.replace(/\/$/, '') + '/';
---
<html>
<head><meta http-equiv="refresh" content={"0;url=" + base}/></head>
<body><a href={base}>Back to Dashboard</a></body>
</html>
